p.large::first-line{
    font-size:2em;
}

p.large::first-letter{
    font-size: 4em;
}

::selection{
    background-color: yellow;
}

p.middle::before{
    content:"before ";
}

p.middle::after{
    content:" after";
}

a:hover{
    color:green;
}