*{
    border:1px solid black;
    box-sizing:border-box;
}

#container{
    position:relative;
    left:100px;
    width:400px;
    height:400px;
}

#part1{
    position:absolute;
    left:0px;
    top:0px;
    background-color: orange;
    height: 200px;
    width: 200px;
}

#part2{
    position:absolute;
    right:0px;
    top:0px;
    background-color: orange;
    height: 200px;
    width: 200px;}

#part3{
    position:absolute;
    bottom:0px;
    right:0px;
    background-color: orange;
    height: 200px;
    width: 200px;}

#part4{
    position:absolute;
    left:0px;
    bottom:0px;
    background-color: orange;
    height: 200px;
    width: 200px;}