.content{
    display: flex;
    flex-flow:row wrap;
    /*justify-content:space-around;*/
}

.content div{
    flex-grow:1;
    min-height: 100px;
    min-width: 100px;
    display: flex;
    justify-content:center;
    align-items:center;
}


.header{
    background-color: orange;
    width:100%;
}

.left{
    background-color: lightblue;
    width:20%;
}

.center{
    background-color: tomato;
    width:50%;
}

.right{
    background-color: lightgreen;
    width:20%;
}

.bottom{
    background-color: gold;
    width:100%;

}
