body{
	background-color: lightgreen;
}


.container{
	height: 100%;
	width: 100%;
}

.menu{
	height: 100%;
	float:left;
	padding: 20px;
}

.menu-item{
	padding: 10px;
}

.content{
	padding: 30px;
}

@media screen and (max-width: 300px) {
    body {
        background-color:lightblue;
    }

    .menu{
    	float:none;
    	text-align: center;
    }

    .content{
    	padding: 10px;
    }
}
