.page-menu{
	position:fixed;
	top:0px;
	left:0px;
	height: 50px;
	width: 100%;
	text-align: center;
	background-color: white;
	border-bottom: 3px solid black;
	z-index: 999;
}

.menu-item{
	display: inline-block;
	width: 100px;
	height: 50px;
	font-size: 20px;
}


.menu-item a{
	text-decoration: none;
	display: inline-block;
	width: 100px;
	height: 50px;
	line-height: 50px;
	color:black;
}

.menu-item a:hover{
	background-color: black;
	color:white;
	border-bottom: 3px solid red;
}

.page-content{
	position:relative;
	top:50px;
	right:-30px;
	width: 100%;
	font-weight: 500;
}

.column{
	float:left;
	width: 30%;
	text-align: justify;
    text-justify: inter-word;
    margin: auto 10px auto 10px;
    font-size: 20px;
}

.figure{
	float:right;
	width: 180px;
	height: 100px;
	border:3px groove black;
	margin: auto auto 5px 15px;
}

::selection{
	background-color: black;
	color:white;
}