@import url("http://fonts.googleapis.com/css?family=Lato");

.page-container{
	font-family: Lato;
}

.column{
	float:left;
	width: 30%;
	text-align: justify;
    text-justify: inter-word;
    margin: auto 10px auto 10px;
    font-size: 20px;
}



.page-main{
	clear:both;
	height: 800px;
}

.page-sidebar{
	float:left;
	height: 800px;
	width: 15%;
	border-right: 2px solid black;
	box-sizing:border-box;
}

.header-text{
	line-height: 100px;
	font-size: 60px;
	width: 600px;
	text-align: center;
	float: left;
}

.button-group{
	float: right;
	line-height: 100px;	
}

.button{
	border: none;
	color:white;
}

.large{
	height: 40px;
	width: 100px;
}

.positive{
	background-color: lightgreen;
}

.negative{
	background-color: tomato;
}


.header-text{
	line-height: 100px;
	font-size: 40px;
	width: 50%;
	text-align: center;
}

.page-main{
	border-top: 2px solid black;
}

.logo{
	width: 20%;
}

.logo-image{
	height: 100px;
	width: 100px;
}

.sidebar-item{
	margin: 10px 10px 10px 10px;
	padding: 10px;
	border: 2px solid black;
	background-color: lightblue;
	border-radius: 400px;
	text-align: center;
}

.sidebar-item:hover{
	background-color: lightgreen;	
	cursor: pointer;
}

.tab-group{
	width: 85%;
	text-align: left;
	line-height: 40px;
}

.tab{
	display: inline-block;
	border-top: 2px ridge black;
	border-left: 2px ridge black;
	border-right: 2px ridge black;
	border-top-right-radius: 15px;
	background-color: lightblue;
	height: 40px;
	width: 100px;
	text-align: center;
}


.tab:hover{
	background-color: lightgray;
}

.page-view{
	/*position: relative;*/
	box-sizing:border-box;
	width: 85%;
	float: left;
	/*left:15%;*/
}

.main-content{
	background-color: lightblue;
	width: 100%;
	position: relative;
	/*left:15%;*/
}

.text-content{
	display: block;
	text-align: justify;
	text-justify:inter-word;
	padding: 0px;
	margin: 0px;
	/*position: relative;*/
	/*left:15%;*/
	box-sizing: border-box;
	width: 100%;
	padding: 15px;
}