html
	head
		title a simple shop
	body
		h1 list of things
		table
			each i in products
				tr
					td= i.name
					td= i.price
					td
						a(href='/add/' + i.id) Add
		h1 your cart
		table
			each i in cart
				tr
					td= i.name
					td= i.price
					td= i.count
